@import 'bootstrap/dist/css/bootstrap.min.css';

body {
  margin: 0;
  font-family: Helvetica;
  font-size: medium;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hero-image{
  border: 1px solid grey;
  margin: auto;
  width: 100%;
  max-width: 1150px;
  height: 400px;
  background-image: url("static/images/hero-goggles.png");
  background-position: center;
  background-position-y: top;
  background-size: cover;
}

.hero-left{
  padding-top: 10px;
}
.hero-right{
  padding-top: 10px;
  text-align: right;
}
.hero-text-left{
  background-color: rgba(0,0,0,0.5);
  padding: 8px;
  border: solid 2px black;
}
.hero-text-right{
  background-color: rgba(0,0,0,0.5);
  border: solid 2px black;
  padding: 8px;
  text-align: right;
}

.shop-select .col{
  padding: 0;
}
.shop-select button{
  width: 100%;
  margin-bottom: 0px;
  border-style: none;
  transition: 0.5s;
}
.shop-select button:hover{
  width: 90%;
  border-style: none;
}

.second-nav .col{
  padding: 0;
}
.second-nav button{
  font-size: large;
  width: 100%;
  margin-bottom: 0px;
  border-style: none;
  transition: 0.5s;

}
.second-nav button:hover {
  width: 90%;
  border-style: none;

}



#prodimg-upload-preview {
  margin: auto;
  filter: grayscale(50%);
}

.prod-img-upload {
  margin: auto;
  max-width: 600px;
}

.prodimg_upload{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-img {
  aspect-ratio: 4 / 3;

}

.userpage-nav {
  border: 0px;
  width: 100%;
}

.second-tier {
  margin-top: 5px;
}
.third-tier {
  margin-top: 5px;
}

#user-content {
  background-color: aqua;
}

.dropdown-toggle::after {
  display: none !important; 
}

.accordion {
  color: #212529;
  background-color: white;
  border-radius: 0px;
  padding: 0;
}
.accordion-item {
  color: #212529;
  background-color: white;
  border: none;
  border-radius: 0px !important;
}
.accordion-button {
  color: #212529 !important;
  background-color: white !important;
  border-radius: 0px;
}
.accordion-button[aria-expanded="false"] {
  color: #212529 !important;
  background-color: white !important;
  border-radius: 0px !important;
  transition: 0.2s;
}

.accordion-button[aria-expanded="false"]:hover {
  color: #212529 !important;
  background-color: white !important;
  border-radius: 0px !important;
  padding-left: 40px;
}
.accordion-button::after {
  color: #212529 !important;
  background-color: white !important;
  border-radius: 0px;
}

.accordion-button:focus {
  box-shadow: none;
}
.accordion-button:not(.collapsed) {
  color: white;
  box-shadow: none;
  border-radius: 0px;
}

.product-list {
  margin-top: 20px;
  border-top: 2px solid #ced4da;
}

.store-filters {
  color: #212529;
  background-color: white;
  margin-bottom: 10px;
}

.store-filters .col {
  padding: 2px;
}

.accordion h4,h5 {
  margin: 0;
}

#store-subheader {
  padding: 10px;
}

.store-card {
  border: none;
}

.card-like {
  background-color: white;
  border: none;
  height: 38px;
  width: 38px;
  padding: 0;
  border-radius: 50%;
}

.store-card .card-title {
  margin-bottom: 0;
}

.listed_img:hover{
  cursor: pointer;
}

.img-placer {
  text-align: center;
  border-bottom: 1px solid #212529;
}

.profile-pic-news {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
}


.news-feed {
  padding: 20px;
  margin: auto;
  max-width: 800px;
}
.store {
  padding-top: 5px;
  max-width: 1200px;
  margin: auto;
}

.content-container {
  padding: 0px;
  padding-left: 5px;
  padding-top: 50px;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

/* Scrollbar style for Firefox */
* {
  scrollbar-width: thin;
}

/* Scrollbar style for Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width:5px;
  visibility: hidden;
}

*::-webkit-scrollbar-track {
  visibility: hidden;
}

*::-webkit-scrollbar-thumb {
  background-color: #dee2e6;
  width:2px;
}

.spinner-container {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 20px;
}

#to-profile-nav {
  padding: 0 3px 0 3px;
  color: #212529;
  border: none;
  border-radius: 0%;
  text-decoration: underline;
  background-color: white;
  font-family: helvetica;
  text-transform: uppercase;
}

#follow-button {
  padding: 2px 5px 0 5px;
  color: white;
  border: 1px solid black;
  border-radius: 0%;
  background-color: #212529;
  font-family: helvetica;

}

#like-button {
  padding: 0 8px 4px 2px;
  border: none;
}

.text-right {
  text-align: right;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Helvetica;
  text-transform: uppercase;
  margin: 0;
}

.filter-button {
  padding: 2px 5px 0 5px;
  color: white;
  border: 1px solid black;
  border-radius: 0%;
  background-color: #212529;
  font-family: helvetica;
  margin: 0 2px 0 2px;

}

.feed-card {
  border: none;
  border-radius: 0;
  padding: 0;
}
.feed-card-body {
  padding: 0;
}

.news-img-background {
  background-color: #212529;
  padding: 0;
}

.navbar {
  background-color: white;
  padding: 0;
  font-family: Helvetica;
  text-transform: uppercase;
  border-bottom: 1px solid black;
}

.product-card-col {
  padding: 0 5px 0 5px;
}

.display-product-card {
  border: none;
}

.display-product-card-body {
  padding: 10px 0 0 2px;
}

.general-button {
  padding: 0 3px 0 3px;
  text-transform: uppercase;
  text-decoration: underline;
}

.modal-content {
  border: none;
  border-radius: 0%;
}
.modal-header, .modal-footer {
  padding: 10px;
}